body{
    background-color: black;
    color: white;
}

#pseudoelementos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #pseudoelementos td, #pseudoelementos th {
    border: 1px solid #232323;
    padding: 8px;
  }
  
  #pseudoelementos tr:nth-child(even){background-color: #242424;}
  
  #pseudoelementos tr:hover {background-color: #282626;}
  
  #pseudoelementos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #71147f;
    color: white;
  }